.theme-light {
    --color-primary: rgb(0, 0, 0);
    --color-secondary: rgb(255,255,255);
    --color-accent: rgb(0, 105, 190);
    --font-color: rgb(97, 97, 97);
    --font-color-secondary: rgb(143, 143, 143);
}

.content {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 1fr;
    grid-template-areas: "leftSpace header header rightSpace"
                         "leftSpace experience summary rightSpace"
                         "leftSpace experience proudof rightSpace"
                         "leftSpace education technologies rightSpace"
                         "leftSpace education languages rightSpace"
                         "leftSpace footer footer rightSpace";
    column-gap: 2em;
    background-color: var(--color-secondary);
    color: var(--color-primary);
    font-family: 'Noto Sans', serif;
    font-weight: 400;
}

@media print {
    body {
        margin: 10px;
    }
    .content {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "header header"
                             "experience summary"
                             "experience proudof"
                             "education proudof"
                             "education technologies"
                             "education languages"
                             "space space"
                             "footer footer";
        column-gap: 2em;
    }
    .footer {
        grid-area: footer;       
        align-items: center; 
        font-size: small;
        color: var(--font-color-secondary);        
        display: block !important;
    }
}

@media screen and (max-width: 1080px) {
    .content {
        grid-template-columns: auto auto;
        grid-template-areas: "header header"
                             "experience summary"
                             "experience proudof"
                             "education technologies"
                             "education languages"
                             "space space"
                             "footer footer";
        column-gap: 2em;
    }    
}


@media screen and (max-width: 850px) {
    .content {
        grid-template-columns: auto;
        grid-template-areas: "header"
                             "experience"
                             "education"
                             "technologies"
                             "summary"
                             "proudof"
                             "languages";
    }    
}

.section-title {
    color: var(--color-primary);
}

.header {
    grid-area: header;
}

.current-occupation {
    color: var(--color-accent);
}

.contact-info {
    columns: 2;
    border-left-style: inset;
}

ul.contact-info {
    list-style-type: none;
}

.contact-item {
    color: var(--font-color);
    font-size: small;
}

.material-icons.contact-item {
    color: var(--color-accent);
    font-size: medium;
}

.experience {
    grid-area: experience;
    color: var(--font-color);
}

.experience-title{
    margin: 0;
    color: var(--color-primary);
}


.experience-duration * {
    font-size: smaller;
    color: var(--font-color-secondary);
}

.experience-company {
    margin-right: 10px;
    color: var(--color-accent);
    font-size: medium;
    font-weight: bold;
    margin-block: 5px;
}

.experience-subtitle {
    margin: 5px;
    font-size: small;
}

.experience-list {
    margin: 0;
    font-size: small;
}

.subdivision-hr {
    border-style: hidden;
    border-bottom-style: dotted;
    border-color: var(--font-color-secondary);
}

.education {
    grid-area: education;
}

.summary {
    grid-area: summary;
}

.summary-description {
    color: var(--font-color);
    font-size: small;
    text-align: justify;
    text-justify: inter-word;
}

.technologies {
    grid-area: technologies;
}

.technologies-description {
    font-size: medium;
    color: var(--font-color)
}

.technologies-list * {
    font-size: small;
    color: var(--font-color)
}

.proudof {
    grid-area: proudof;
    color: var(--font-color);
}

.proudof-icon {
    font-size: xx-large;
    color: var(--color-accent);
}

.proudof-title {
    font-size: medium;
}

.proudof-description {
    font-size: small;
    text-align: justify;
}

.languages {
    grid-area: languages;
}

#languages-table {
    width: 100%;
    border-collapse: collapse;
}

#languages-table * {
    font-size: medium;
    color: var(--font-color);
    padding: 10px;
}

#languages-table tr {
    border-bottom: 1px dotted var(--font-color-secondary    );
    height: 50px;
}

.footer {
    grid-area: footer;       
    align-items: center; 
    font-size: small;
    color: var(--font-color-secondary);
    display: none;    
}

.material-icons.picture_as_pdf {
    color: var(--color-accent);
    font-size: medium;
}

.download_pdf {

}